<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="/assets/stylesheets/main.css" />
<link rel="stylesheet" href="/assets/stylesheets/leaflet.css" />
<link rel="stylesheet" href="/assets/stylesheets/screen.css" />
<link rel="stylesheet" href="/assets/stylesheets/MarkerCluster.css" />
<link rel="stylesheet" href="/assets/stylesheets/MarkerCluster.Default.css" />
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://fgnass.github.io/spin.js/spin.min.js"></script>
<script src="JavaScript/leaflet.js"></script>
<script src="JavaScript/sparql.js"></script>
<script src="JavaScript/main.js"></script>
<script src="JavaScript/Borders.js"></script>
<script src="JavaScript/CountryOperations.js"></script>
<script src="JavaScript/leaflet.markercluster-src.js"></script>
<title>EventViz</title>

</head>
<body>
	<div id="container">
		<div id="map"></div>
		<div id="title">
			<p>EventViz</p>
		</div>
		<input id="search"/>
		<div id="filterbox"></div>
		<div id="floatingInfo">
		<ol id="floatingList"></ol>
		</div>
		<div id="infobox">
			<div id="navigation">
				<p class="navElementFirst" id="navEvent">Event ></p>
			</div>
			<div id="img"></div>
			<div id="info"></div>
		</div>
		<div id="social">
			<div id="socialInfo"><p id="socialInfoP"/></div>
			<div id="socialChart"></div>
			<div id="socialResult"></div>
			<div id="socialNoResult"><p id="socialNoResultP">No sentiment data found!</p></div>
			<div id="socialLoading"></div>
		</div>
	</div>
	<div id="containerLoading">
	</div>
	<script>
		
	</script>
</body>
</html>